
<h3 id="videoconferencing">Installeer Zoom</h3>

<p>
  Ga naar de
  <a href="https://zoom.us/download">officiele Zoom website</a>
  om Zoom te downloaden en te installeren als je Zoom nog niet eerder gebruikt hebt.
</p>


<h4>Tips voor je werkplek</h4>

<p>
  Zoals bij alle Carpentries workshops
  leer je door 'mee te coderen' met de docenten.
  Om dat te kunnen doen, is het nodig dat je zowel Zoom
  als de software waarover je leert (OpenRefine, Python, etc) geopend hebt.
  We raden één van de volgende opstellingen aan,
  zodat je beide tegelijk kunt zien.
  <ul>
    <li><strong>Twee beeldschermen:</strong> Als je twee beeldschermen beschikbaar hebt,
      kun je één beeldscherm gebruiken voor Zoom, en 
      de andere voor de software tool.</li>
    <li><strong>Twee apparaten:</strong> Als je niet beschikt over twee monitors
      heb je misschien een ander apparaat beschikbaar naast je computer, bijvoorbeeld een tablet of smartphone.
      Je kan dan het kleinere apparaat gebruiken voor Zoom, en je computer voor 
      de software tool.
    </li>
    <li><strong>Verdeel je scherm:</strong> Als je maar één scherm en apparaat hebt,
      moet je Zoom en software naast elkaar openen. Probeer voor de start van de workshop
      uit wat het beste voor je werkt</li>
  </ul>
  Deze <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> geeft praktische informatie over hoe je je scherm tijdens de workshop kan indelen.
</p>
