<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  is ontworpen door mensen die werken binnen bibliotheken of vergelijkbare organisaties om je te helpen:
</p>

<ul>
  <li>repetitieve, saaie, en foutgevoelige taken te automatiseren</li>
  <li>duurzame en herbruikbare databestanden te maken, onderhouden, en analyseren</li>
  <li>effectief samen te werken met collega's van IT-afdelingen</li>
  <li>programma's die gebruikt worden in het onderzoek beter te begrijpen</li>
  <li>en nog veel meer&#8230;</li>
</ul>

<p style="margin-left: 50px;">
  <em>
    <em>Library Carpentry</em> laat je kennismaken met de basis van automatisering, en is een startpunt van waaruit je zelf verder kunt leren. Library Carpentry is onderdeel van <a href="{{ site.carpentries_site }}">The Carpentries</a>, een organisatie die de grondslagen van programmeren en <em>data science</em> bijbrengt. Als je meer wilt weten over de onderwerpen waarover we les geven, en waarom, lees dan het (engelstalige) artikel "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>

<!-- 
<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  is made by people working in library- and information-related roles to help you:
</p>
<ul>
  <li>automate repetitive, boring, error-prone tasks</li>
  <li>create, maintain and analyze sustainable and reusable data</li>
  <li>work effectively with IT and systems colleagues</li>
  <li>better understand the use of software in research</li>
  <li>and much more...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry introduces you to the fundamentals of computing
    and provides you with a platform for further self-directed learning.
    For more information on what we teach and why, please see our paper
    "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p> 
-->
