{% comment %}
<div id="shell-setup">
  <h3>Bash Shell</h3>
  <p>
    Bash is een veelgebruikte <em>shell</em> waarmee je simpele taken sneller kunt volbrengen. De instructies voor installatie vind je <a href="https://librarycarpentry.org/lc-shell/setup.html" target="_blank" rel="noreferrer noopener">hier</a>.
  </p>
</div>
{% endcomment%}

<div id="tidydata-setup">
  <h3>Opgeruimde data</h3>
  <p>
    In dit deel van de cursus werken we met spreadsheets. Veel mensen zullen daarvoor al een programma beschikbaar hebben, bijvoorbeeld Microsoft Excel. Een gratis en open alternatief is <em>LibreOffice</em>. Zie <a href="https://librarycarpentry.org/lc-spreadsheets/index.html#software" target="_blank" rel="noreferrer noopener">hier</a> voor instructies om dat programma te installeren. In de cursus gebruiken we Excel. Download ook het <a href="https://librarycarpentry.org/lc-spreadsheets/index.html#data" target="_blank" rel="noreferrer noopener">databestand</a> dat we zullen gebruiken tijdens de cursus.
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is een tool om rommelige data op te schonen en te organiseren. Volg deze <a href="https://librarycarpentry.org/lc-open-refine/index.html" target="_blank" rel="noreferrer noopener">instructies</a> om OpenRefine te installeren. Download ook het <a href="https://librarycarpentry.org/lc-open-refine/#downloading-the-data" target="_blank" rel="noreferrer noopener">databestand</a> dat we zullen gebruiken tijdens de cursus.
  </p>
</div>

<div id="python-setup">
  <h3>Python</h3>
  <p>
    Download en unzip het volgende bestand: <a href="https://github.com/cdsleiden/lc-python/archive/refs/heads/main.zip" target="_blank" rel="noreferrer noopener"><code>main.zip</code></a>
  </p>
     
  <p>
    Volg <a href="https://cdsleiden.github.io/python-tutorial/Installation.html" target="_blank" rel="noreferrer noopener">deze instructies</a> om Python te installeren. De map waarnaar wordt verwezen aan het einde van deze tekst (&ldquo;<i>the folder containing all the notebooks you downloaded</i>&rdquo;) is de gezipte map die hierboven wordt genoemd.
  </p>
</div>

<!-- 
<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>The Bash Shell</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks
    more quickly. Please find setup instructions in
    the <a href="https://librarycarpentry.org/lc-shell/index.html#setup">lesson</a>.
  </p>
</div> 
-->

<!-- 
  <div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine is a tool to clean up and organize messy data. Please find instructions to
    install it and the data used in the lesson in the
    <a href="https://librarycarpentry.org/lc-open-refine/">lesson</a>.
  </p>
</div> 
-->

<!-- 
<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Follow the instructions on
    the <a href="https://librarycarpentry.org/lc-git/index.html#setup">lesson</a> to
    install Git on your system.
  </p>
  <p>
    You will need an account at <a href="https://github.com/">github.com</a>
    for parts of the Git lesson. Basic GitHub accounts are free. We encourage
    you to create a GitHub account if you don't have one already.
    Please consider what personal information you'd like to reveal. For
    example, you may want to review these
    <a href="https://help.github.com/articles/keeping-your-email-address-private/">instructions
      for keeping your email address private</a> provided at GitHub. You will
      need a
    <a href="https://help.github.com/articles/supported-browsers/">supported
    web browser</a>.
  </p>
</div> 
-->
