<p id="who">
  <strong>Voor wie:</strong>
  Deze cursus is bedoeld voor mensen die werken in een bibliotheek van een academische instelling, of een soortgelijke functie hebben. We verwachten dat je basale kennis hebt van het werken met spreadsheets, verder is geen voorkennis vereist.
</p>

<!-- <p id="who">
  <strong>Who:</strong>
  The course is for people working in library- and information-related roles.
  <strong>
    You don't need to have any previous knowledge of the tools that
    will be presented at the workshop.
  </strong>
</p> -->
